.header {
    display: flex;
    height: 60px;

    & .logo {
        display: flex;
        align-items: center;
        width: 232px;
        gap: 10px;
        padding-left: 20px;

        & .logo__icon {
            width: 20px;
            height: 20px;
            filter: var(--icon-color);
        }
    }
}