.header {
    display: flex;
    height: 60px;

    & .logo {
        display: flex;
        align-items: center;
        width: 232px;
        gap: 10px;
        padding-left: 20px;
        box-shadow: var(--header-logo-box-shadow);

        & .logo__icon {
            width: 20px;
            height: 20px;
            filter: var(--icon-color);
        }
    }

    &__search {
        display: flex;
        align-items: center;
        width: 350px;
        height: 60px;
    }

    &__form {
        position: relative;
        margin-left: 30px;
        display: flex;
        align-items: center;
        min-width: 270px;   
    }

    &__input-icon {
        position: absolute;
        top: 11px;
        left: 11px;
        width: 13px;
        height: 13px;
    }

    &__input {
        position: relative;
        width: 100%;
        padding: 8px 32px 8px 33px;
        border-radius: 5px;
        border: 1px solid var(--header-input-border-color);
        font-size: 1.6rem;
        font-weight: 500;

        &:focus {
            border-color: var(--primary-color); 
            box-shadow: var(--header-input-focus-box-shadow);
        }

        &-clear-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.8;
            width: 15px;
            height: 15px;
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}