.header {
    display: flex;
    background: floralwhite;
    height: 60px;

    & .logo {
        display: flex;
        align-items: center;
        width: 232px;
        gap: 10px;
        padding-left: 20px;

        & .logo__icon {
            width: 20px;
            height: 20px;
            filter: brightness(0) saturate(100%) invert(52%) sepia(84%) saturate(4624%) hue-rotate(195deg) brightness(106%) contrast(101%);
        }
    }
}