.sidebar {
    position: sticky;
    top: 60px;
    left: 0;
    width: 258px;
    min-height: calc(100vh - 130px);
    z-index: 1;
    box-shadow: var(--sidebar-box-shadow);
    flex-shrink: 0;
    align-self: flex-start;
    background: var(--sidebar-bg-color);

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;

        &--active > &-link {
            font-weight: 500;
            color: var(--sidebar-active-text-color);
        }

        &--active > &-link::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            z-index: -1;
            opacity: var(--sidebar-active-after-opacity);
            background: var(--sidebar-active-after-color);

        }

        &--active &-link-icon {
            filter: var(--sidebar-active-icon-color);
        }

    }

    &__item-link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 12px 20px;
        color: var(--text-color);

        &-icon {
            width: 15px;
            height: 15px;
            filter: var(--icon-default-color);
            transition: filter 0.25s;
        }
        transition: color 0.25s;
    }

    &__item:hover {
        cursor: pointer;
        background: var(--sidebar-item-hover-color);
    }

    &__item:not(.sidebar__item--active):hover > &__item-link {
        color: var(--sidebar-item-link-text-hover-color);
        filter: var(--sidebar-item-link-icon-hover-color);
    }

    &__active-line {
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        background: var(--sidebar-active-line-color);
        transition: transform 0.25s ease, height 0.25s;
    }
}
