.sidebar {
    width: 257px;
}

.item {
    &-list {
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        & .item {
            &:hover {
                cursor: pointer;
                background: #f3f3f3;
            }
        }
    }

    &-link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px 20px;
        color: #000;

        &__icon {
            width: 15px;
            height: 15px;
        }
    }

    &--active {
        & .item-link::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 3px;
            height: 100%;
            background: #1890ff;
        } 

        & .item-link::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            opacity: 0.05;
            background: #1890ff;
        }

        & .item-link {
            font-weight: 500;
            color: #1890ff;
        }

        & .item-link__icon {
            filter: brightness(0) saturate(100%) invert(52%) sepia(84%) saturate(4624%) hue-rotate(195deg) brightness(106%) contrast(101%);
        }
    }
}
