html {
    // root
    --primary-color: #1890ff;
    --text-color: #141414;
    --icon-color: brightness(0) saturate(100%) invert(52%) sepia(84%) saturate(4624%) hue-rotate(195deg) brightness(106%) contrast(101%);

    // header
    // sidebar
    --item-hover-color: #f3f3f3;
    // content
    --content-bg-color: #f3f3f3;
    // footer
}