html {
    // root
    --primary-color: #1890ff;
    --text-color: #141414;
    --icon-color: brightness(0) saturate(100%) invert(52%) sepia(84%) saturate(4624%) hue-rotate(195deg) brightness(106%) contrast(101%);
    --background-primary-color: #fff;
    // header
    --header-logo-box-shadow: 1px 0 0 0px rgb(240 240 240);
    --header-input-border-color: #d2d1d6;
    --header-input-focus-box-shadow: 0 0 4px rgba(24, 144, 255, 0.6);
    --header-menu-hover-item-color: #e9ecef;
    --themes-slider-bg-color: #ccc;
    --themes-slider-before-bg-color: #F7DF1E;
    // sidebar
    --item-hover-color: #f3f3f3;
    --sidebar-box-shadow: 1px 0 0 0px rgb(240 240 240);
    // content
    --content-bg-color: #f3f3f3;
    // footer
}